    body,html{
        width:100%;height:100%;
        font-family: 'Raleway', sans-serif;
    }
    body{
         background-color:#FFF;
    }



    .titles{
        color:#556692;
        font-size:2vmin;
    }


.min34
{
	width: 12vw;
	border-radius:12vw;
}


.men
{
	list-style: none;
}

.men li
{
	margin-top:0.5vmax;
}

.badger
{
	display: inline-block;position:absolute;margin-left:1.2vmax;
	border-radius:1vmax;width:1vmax;height:1vmax;
	font-size:0.7vmax;
	background-color:#fff;text-align:center;vertical-align: middle;


	box-shadow: 1px 5px 10px #999;
}


.menupix
{
	font-size:3vmax;
}



.green
{

}


.vmenu li a
{
	color:#2F8CFF;text-decoration: none;
}

.vmenu li a i
{
	font-size:2vmax;font-weight:300;
	color:#666;
}

/* LOGIN KITCSS */





#secure_box
{
	width:30vw;margin: 2% auto;
	background-color: #FFF;padding:2%;
	box-shadow: 1px 5px 10px #999;
	border-top-right-radius:2vmax;border-bottom-left-radius:2vmax;
	border-bottom-right-radius:2vmax;

}


.round_box
{

	width:30vw;margin: 1%;vertical-align: top;
	display: inline-block;vertical-align: middle;
	background-color: #FFF;padding:2%;
	border-left: 1px dotted #EFEFEF;
	vertical-align: top !important;

}


.round_box label
{
	text-align: left;color:#666;font-weight: 700;
	font-size:1vmax;
	font-family: 'Raleway', sans-serif;

}


.litlebox
{
	font-size:1vmax;color:rgba(0,0,0,0.2) !important;
	padding:2%;
}


a:focus { outline:none; }

a:active{outline: none;}

*{border:0px solid;padding: 0px;margin: 0px;}

header{

	height:10vh;width:100%;
}

.title{
	font-family: 'Alegreya Sans', sans-serif;
	font-size:2vmax;
}


#mainbox{
	
	height:auto;min-height:70%;width:100%;text-align: left;
}

footer{
	height: 10%;width:100%;background:#000;
}

.roundlogo{

	font-size:5vmin;font-weight: 400;
}


.roundlogo{
	width:20vmin;height:20vmin;
	border-top-left-radius:5vmin;border-bottom-right-radius:5vmin;
	

}


.offslide{
	opacity: 0.5;
}

.smalllogo{
	display: inline-block;
	background:#333;
	height:15vmin;width:15vmin;border:1px dotted #333;margin:1vmin;
}

.smallroundlogo{
	height:8vmin;width:8vmin;border-radius:5vmin;border:1px dotted #999;
}

.brand{
font-family: 'Montserrat', sans-serif;
padding:1vmin;font-size:2.5vmin;color:#333;
width:100%;border:0px solid;background:none;border-bottom:1px dotted #DDD;
}

.form-control{
font-family: 'Raleway', sans-serif;
background:#FFF;
padding:0% 4%;font-size:1.2vmax;
color:#666;font-weight:400;
width:90%;
}


.form-control:hover{
	color:#333;font-weight:300;
}





.minititle{
font-family: 'Raleway', sans-serif;
padding:3vmin;font-size:1vmax;margin:auto;
border-top-right-radius:2.5vmin;
border-bottom-left-radius:1vmin;

color:#333;font-weight:400;
width:69%;margin:1vmin 0px;
word-wrap: all;
background:#e6fff2;
text-align: left;
}




.miniinput:hover{
	color:#000;font-weight:450;
}






.pffield{
	margin:3vmin auto;width:auto;text-align:left;
}






.htitle{
	width:100%;border-bottom:1px dashed #999;padding:2% 0px;font-size:2vmax;
	margin:1%;text-align: left;
}



.smallbtns{
	font-size:2vmax;
	text-align: center;
	color:#fff;text-decoration: none;
	background:#666;display: inline-block;
	padding:0.7%;
	width:3vmax;height:3vmax;
	border-top-left-radius:2vmax;border-top-right-radius:2vmax;
	border-bottom-right-radius:2vmax;

}



.mdbtns{
	font-size:2.5vmax;
	text-align: center;
	color:#fff;text-decoration: none;
	background:#666;display: inline-block;
	padding:0.4%;
	width:4vmax;height:4vmax;
	border-top-left-radius:3vmax;border-top-right-radius:3vmax;
	border-bottom-left-radius:3vmax;

}


.mdbtnsr{
	font-size:2.5vmax;
	text-align: center;
	color:#fff;text-decoration: none;
	background:#666;display: inline-block;
	padding:0.4%;
	width:4vmax;height:4vmax;
	border-top-left-radius:3vmax;border-top-right-radius:3vmax;
	border-bottom-right-radius:3vmax;

}




.mdbtns_alert{
	font-size:2.5vmax;
	text-align: center;
	color:#fff;text-decoration: none;
	background:#ff6718;display: inline-block;
	padding:0.4%;
	width:4vmax;height:4vmax;
	border-top-left-radius:3vmax;border-top-right-radius:3vmax;
	border-bottom-right-radius:3vmax;

}

.mdbtns_alert span{
	color:#fff;
}


.vectorbtn{
	font-size

	:3vmax;
	text-align: center;color:#333;text-decoration: none;
	display: inline-block;background-color:#FFF;
	padding:0.7%;
	width:3vmax;height:3vmax;

}



.hmenu{
	width:100%;
}


.hmenu li{
	display: inline-block;list-style: none;
}



.smallbtns:hover{
	background:#333;box-shadow: 2px 2px 3px #999;color:#00FF33;
}


.active{
	background:#333;box-shadow: 2px 2px 3px #999;color:#00FF33;
}

.active:focus{
	color:#00FF33;outline: none;
}




.vsmallbtns{
	font-size:1.5vmax;
	text-align: center;
	color:#333;text-decoration: none;
	display: inline-block;
	padding:0.7%;
	width:2.5vmax;height:2.5vmax;
	border-top-left-radius:1.5vmax;border-top-right-radius:1.5vmax;
	border-bottom-right-radius:1.5vmax;
	

}

.vsmallbtns:hover{
	box-shadow: 2px 2px 8px #999;
	text-decoration: none;

}


.bolding
{
	font-weight: bold;
}


.resalto
{
	color:#2E8CFF;
	font-weight: 700;
	font-size:2vh;
	margin-left:1vmax;
}


.smalltxt
{
	font-size:2vh;
}


.bigtxt
{
	font-size: 5vh;
}

.orange-resalto
{
	color:#FF6617;
	font-weight: 700;
	font-size:2vh;
	margin-left:1vmax;
}



.muli
{
	font-family: 'Muli', sans-serif;
}



.btns{
	
	font-size:20vmin;text-align: center;
	background:#FF9000;background: #9fa8a3;
	display: inline-block;
	width:8vmin;padding:6vmin;height:8vmin;
	border-top-left-radius: 7vmin;border-bottom-left-radius:7vmin;
	border-top-right-radius:7vmin;
	

}


.btns a{
	color:#c5d5cb;text-decoration: none;
}

.btns:hover{
	background:#973252;
}



.smallbtnr{
	font-size:4vmin;text-align: center;color:#FFF;text-decoration: none;
	background:#000;display: inline-block;width:4vmin;padding:3vmin;height:4vmin;
	border-top-left-radius:4vmin;border-bottom-right-radius: 4vmin;
	border-top-right-radius: 4vmin;
}


.smallbtnrr{
	font-size:4vmin;text-align: center;
	background:#999;display: inline-block;
	width:5vmin;padding:1vmin;height:5vmin;
	border-radius:5vmin;
	box-shadow: 4px 4px 5px #333;
	vertical-align: middle;
	margin:1vmin 0px;

}



.btnr{
	font-size:6vmin;text-align: center;
	background:#999;display: inline-block;width:6vmin;padding:5vmin;height:6vmin;
	border-top-left-radius: 6vmin;
	border-top-right-radius: 6vmin;border-bottom-right-radius: 6vmin;
	box-shadow: 4px 4px 5px #999;
	vertical-align: middle;

}


.lb{
	display: inline-block;vertical-align: middle;
}


#mainmenu{
	display: inline-block;
}

#mainmenu li a{
	color:#000;background:#FFF;font-size:3vmin;display: block;
	border-radius:6vmin;margin:2vmin 0px;
}


#velo{
position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 10000;
display: none;

}


#contact_form{display: none;}


#form_box{
	position: absolute;z-index: 10001;top:2%;width:100%;height: auto;left:0px;
	
}
.errr,.warning{
	background-color:#F7FE2E !important;color:#000 !important;
}

.success{
		background-color:#fff !important;color:#000 !important;
}

.alert{
	text-align: left;padding:1% 5%;color:#666;font-weight: 700;
	font-size:1vmax;
}

.adding{
	background:#333;
}

.boxset{
	width:80%;height:auto;margin:auto;
}

.blind{
	display: none;
}

.smalllogo img {

	width:100%;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: black;
    margin: 10px 0 0 25px; }


#ui-datepicker-div{background:#333;padding:1vmax;}
#ui-datepicker-div a{color:#fff;text-decoration: none;}
#ui-datepicker-div a span{color:#fff;text-decoration: none;}

.fechas_destacadas{

	margin:1vmax;
}

.boxing
{
	width:20%;min-width:auto;height:auto;min-height: 200px;
	background:#9fa8a3;margin:1vmin;
}


#tipos{vertical-align:top; }


.habitacion{

	cursor: pointer;
}

.habitacion:hover{
	box-shadow: 4px 4px 5px #999;

	
}


.habitacion span{ width:70%; }


.plac{
	width: 70%;
}

.plac p
{
	text-align: left;
}
.plac label
{
	display: block;
	text-align: left;margin:2vmin 0vmin;
	color:#333;
}


.carousehell{

	width:90%;
	height: 37vh;
	overflow:hidden;
	text-align: left;
}

.carousehell ul
{

	width: auto;height:100%;

}

.carousehell ul li
{

	width:20%;height:100%;
}

#toastrto
{ 
	display: none;
	border-top-left-radius:3vmin;
	border-bottom-right-radius:3vmin;
	
	position:fixed;
	vertical-align: middle;text-align:left;
	top:2vmin;right:2vmin;
	width:30vw;
	min-height:10vh;
	height: auto;
	font-size: 2.5vmax;
	font-family: 'Raleway', sans-serif;
	box-shadow: 2px 2px 3px #333;
	z-index: 1000002;

}

#toastrto .indicator
{
	width:20%;vertical-align: middle;text-align:center;
	height: 100%;padding:5% 0%;color:#fff;

}

#toastrto .msg
{
	width:60%;color:#fff;
	font-size:1.2vmax;vertical-align: middle;text-align: left;
}
