body,html{
    width:100%;height:100%;
    font-size:100%;
    font-family: 'Raleway', sans-serif;
}
body{
     background-color:#C4E3FF;
}


*{
	padding:0px;margin:0px;
}

.main_navbar
{
	background-color:#ABEFAB;
}

.doc{
	font-size:2vmax;
	text-align: center;color:#333;text-decoration: none;
	display: inline-block;
	padding:1%;
	width:3vmax;height:3vmax;
	border-top-left-radius:2vmax;border-top-right-radius:2vmax;
	border-bottom-right-radius:2vmax;

}

.doc:hover,
.doc:focus
{
	border:0px solid;outline: none;
	color:#333;
	box-shadow:none;
}
