{% extends "mainapp/base.html" %}

{% block extrajs %}

	<script type="text/javascript">
		$(document).ready(function(){
			$('.sendit').submit(sendit);


			$('.selector').click(function(e){
				e.preventDefault();
				clases = $(this).attr('class');
				typeus = $(this).attr('data');
				
				if(clases.indexOf('active')<0){
					$('.selector').removeClass('active');
					$(this).addClass('active');
					$('#usergroup').val(typeus);

				}

			});


		});
	</script>

{% endblock %}


{%block content%}




<div style="padding-bottom: 11%;">
	<div  class="round_box">
			<h4>Ingresa a tu cuenta</h4>
		<form name="secure" action="/singin/" method="post" class="sendit">
			{% csrf_token %}
			<div>
				<input type="text" class="form-control" name="usuarius" id="usuarius" placeholder="User">
				<label class="litlebox" for="usuarius" id="id_usuarius">Usuario</label>
			</div>
			<div>
				<input type="password" name="passo" id="passo" class="form-control" placeholder="Password">
				<label class="litlebox" for="passo" id="id_passo">Clave</label>
			</div>
			<div style="text-align:center;margin-bottom:2vmax;">
				<a href="#passrecovery" class="litlebox">¿Olvidó su contraseña?</a>
			</div>
			<div style="text-align: right;margin-top:2vmax;">
				<button type="submit" class="vectorbtn"><span class="lnr lnr-checkmark-circle"></span></button>
			</div>

		</form>
	</div>


	<div id="reg_box" class="round_box">
		<form name="secure" action="/singon/" method="post" class="sendit">
			{% csrf_token %}
			<input type="text" id="usergroup" name="groups" value=""/>
			<h4>Registrarme</h4>
			<div>
				<ul class="hmenu" id="id_groups">
					<li><a href="#doctor" class="smallbtns selector" data="doctor"><i class="fa fa-user-md" aria-hidden="true"></i></a></li>
					<li><a href="#doctor" class="smallbtns selector" data="patient"><i class="fa fa-user" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div>
			{{forma.as_p}}
			</div>
			<div style="text-align: right;margin-top:2vmax;">
				<button type="submit" class="vectorbtn"><span class="lnr lnr-checkmark-circle"></span></button>
			</div>

		</form>
	</div>

</div>
{%endblock%}


