{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>superHero</title>
        <meta name="theme-color" content="#496201">
        
        <!-- core CSS -->
        <link href='https://fonts.googleapis.com/css?family=Raleway|Muli' rel='stylesheet' type='text/css'>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/vfonts.css" rel="stylesheet">
        <link href="/static/css/defaults.css" rel="stylesheet">
        <link href="/static/css/doctor.css" rel="stylesheet">
        <link href="/static/css/wfmi-style.css" rel="stylesheet">
        {%block extras%}{%endblock%}
        </head>
    <body>
      <div id="toastrto">
        <div class="lb indicator"><span class="lnr lnr-checkmark-circle"></span></div>
        <div class="lb msg"></div>
      </div>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="lnr lnr-menu"></span>
      </button>
      
    <div class="mdbtns">
        <span class="icon-i-family-practice">&nbsp;</span>
    </div>



    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left" style="margin-left:1vw">
            <li>
                  <form class="navbar-form navbar-right">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                        <a href="#" class="vsmallbtns">
                            <span class="lnr lnr-checkmark-circle"></span>
                        </a>
                  </form>
            </li>
        </ul>
  

      <ul class="nav navbar-nav navbar-right vmenu">

        <li >
            <a href="#">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span class="badge ">1</span>                
            </a>
        </li>
        <li>
            <a href="#" class="mdbtns_alert">
                <i class="icon-i-health-services" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href="/?logout=true">
                <i class="lnr lnr-exit"></i>
                               
            </a>
        </li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


        {% block cabecera %}{% endblock %}

        {% block content %}{% endblock %}
        <!--  JS  -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/moment.js"></script>
        <script src="/static/js/bootstrap-datetimepicker.min.js"></script>        
        <script src="/static/js/chumbucket.js"></script>
        {% block extrajs %}{% endblock %}

    </body>

</html>