{% extends "patient/base.html" %}

{% block extrajs %}
{% endblock %}


{%block content%}


<div class="row container-fluid" style="width: 100%;">
	<div class="col-md-3">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
			<p class="smalltxt">Doctor: Jose de Jesus Perez Huerta de la Gongora y Gongora</p>
		  </div>
		  <div class="panel-body">
		    <p class="smalltxt">
		    Docor graduado de la Universidad Médica de Comberur
		    </p>
		  </div>

		  <!-- List group -->
		  <ul class="list-group">
		    <li class="list-group-item"> <span class="icon-laboratory resalto bigtxt" aria-hidden="true"></span><span class="smalltxt"> Cras justo odio </span></li>
		    <li class="list-group-item"> <span class="icon-ear-nose-throat resalto bigtxt" aria-hidden="true" ></span> <span class="smalltxt"> Dapibus ac facilisis in </span></li>
		  </ul>
		</div>
	</div>

	<!-- ### CENTRAL PANEL #   -->
	<div class="col-md-7">



		
			<div class="panel panel-default smalltxt" >

			  <div class="panel-heading">
			  	<span class="lnr lnr-user orange-resalto"></span>
			  	<h2>Historial Clínico</h2> 
			  	&nbsp;<span class="smalltxt bolding">Juan Perez Mendizabal:</span>
			  	<span class="lnr lnr-clock resalto"></span>
			  	<span class="resalto muli"> Hoy - 12:22 pm </span>
			  </div>
			  

			  <div class="panel-body muli smalltxt">
			    Manifiesta problemas renales por andar de alcoholes
			  </div>
		 	  <div class="panel-footer" style="text-align: right;background-color:#fff;">
				


				<a href="/doctor/consultando/?ptky=1" class="vsmallbtns">
					<i class="fa fa-stethoscope" aria-hidden="true"></i>
				</a>

				<a href="#" class="vsmallbtns">
					<span class="lnr lnr-pencil"></span>
				</a>

				<a href="#" class="vsmallbtns">
					<span class="lnr lnr-cross-circle"></span>
				</a>


		 	  </div>
			</div>
		

	</div>


	<div class="col-md-2" style="text-align: center;">



		<div class="panel panel-default">
		  <div class="panel-body" style="text-align:right;">
				<p class="mdbtnsr">
					<i class="fa fa-stethoscope" aria-hidden="true"></i>
				</p>
		  </div>
		</div>

	</div>

</div>



{%endblock%}


